@import 'modal.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
};

body{
    font-family: 'Varela Round', sans-serif;
    background-image: url('../images/universe.jpg');
    //filter: brightness(0.30);
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    background-color: #F0F0F0;
    margin-top: 5%;
    margin-bottom: 50px;
    width: 90%;
    header{
        width: 100%;
        .titleWraper{
            background: linear-gradient(#DD0056, #DE00BD);
            height: 65px;
            display: flex;
            text-align: center;
            align-items: center;
            padding: 0px 20px;
            .titleDiv{
                width: 50%;
                .title{
                    float: left;
                    font-size: 28px;
                    color: white;
                }
            }
            .addEmployee{
                width: 50%;
                display: flex;
                justify-content: flex-end;
                .addEmployeeBtn{
                    float: right;
                    background: black;
                    padding: 8px 15px;
                    border-radius: 2px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    .plusIcon{
                        margin-right: 10px;
                        width: 22px;
                    }
                    &:hover{
                        border: 1.5px solid #00DDBF;
                    }
                }
            }
        }
    }
}

.inputDiv{
    form{
        margin-top: 35px;
        margin-right: 20px;
        .filterInput{
            float: right;
            width: 40%;
            font-size: 15px;
            padding: 10px 15px;
            &:focus{
                outline: none;
            }
        }
    }
}

.tableContainer{
    margin-top: 12%;
    margin-bottom: 5%;
    padding-left: 25px;
    padding-right: 25px;
    table{
        width: 100%;
        border-collapse: collapse;
        thead{
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px solid #c6c3bd;
            th{
                padding-bottom: 10px;
                text-align: left;
            }
        }
        th:first-child{
            width: 60px;
            text-align: center;
        }
        th:last-child{
            width: 100px;
        }
        tbody{
            font-size: 14px;
            &:hover{
                background-color: #ccf1f2;
            }
            td{
                padding: 15px 0px;
                border-bottom: 1px solid #c6c3bd;
                text-align: left;
                &:first-child{
                    width: 60px;
                    text-align: center;
                }
                .tableIcons{
                    width: 20px;
                    padding: 0px 5px;
                }
            }
        }
    }
}