.hidden {
  display: none;
}

.active {
  visibility: visible;
}

#modalContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  overflow: auto;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modalContainer .modalContent {
  width: 400px;
  height: 500px;
  background-color: black;
  color: white;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-image: url("../images/universe.jpg");
  background-color: black;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container {
  background-color: #F0F0F0;
  margin-top: 5%;
  margin-bottom: 50px;
  width: 90%;
}

.container header {
  width: 100%;
}

.container header .titleWraper {
  background: -webkit-gradient(linear, left top, right top, from(#582066), to(#00CF95));
  background: linear-gradient(to right, #582066, #00CF95);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
}

.container header .titleWraper .titleDiv {
  width: 80%;
}

.container header .titleWraper .titleDiv .title {
  float: left;
  font-size: 28px;
  color: white;
  text-shadow: 3px 3px 5px #000000;
  word-spacing: 4px;
}

.container header .titleWraper .addEmployee {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container header .titleWraper .addEmployee .addEmployeeBtn {
  float: right;
  background: black;
  padding: 8px 15px;
  border-radius: 4px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container header .titleWraper .addEmployee .addEmployeeBtn .plusIcon {
  margin-right: 10px;
  width: 22px;
}

.container header .titleWraper .addEmployee .addEmployeeBtn:hover {
  background-color: #47416F;
}

.inputDiv form {
  margin-top: 35px;
  margin-right: 20px;
}

.inputDiv form .filterInput {
  float: right;
  width: 40%;
  font-size: 15px;
  padding: 10px 15px;
}

.inputDiv form .filterInput:focus {
  outline: none;
}

.tableContainer {
  margin-top: 12%;
  margin-bottom: 5%;
  padding-left: 25px;
  padding-right: 25px;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer table thead {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #c6c3bd;
}

.tableContainer table thead th {
  padding-bottom: 10px;
  text-align: left;
}

.tableContainer table th:first-child {
  width: 60px;
  text-align: center;
}

.tableContainer table th:last-child {
  width: 100px;
}

.tableContainer table tbody {
  font-size: 14px;
}

.tableContainer table tbody:hover {
  background-color: #d6d6d6;
}

.tableContainer table tbody td {
  padding: 15px 0px;
  border-bottom: 1px solid #c6c3bd;
  text-align: left;
}

.tableContainer table tbody td:first-child {
  width: 60px;
  text-align: center;
}

.tableContainer table tbody td .tableIcons {
  width: 20px;
  padding: 0px 5px;
}
/*# sourceMappingURL=styles.css.map */