.hidden {
  display: none;
}

.active {
  visibility: visible;
}

.modalsContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(76, 76, 76, 0.8);
  position: fixed;
  overflow: auto;
  top: 0;
  -webkit-animation: slide-in-top 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
          animation: slide-in-top 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.modalsContainer .modalContent {
  width: 420px;
  height: 490px;
  background-image: url("../images/universe.jpg");
  color: black;
  border-radius: 4px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 5px 16px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 5px 16px 5px rgba(0, 0, 0, 0.7);
}

.modalsContainer .modalContent .modalHeader {
  padding: 22px 25px 22px 25px;
  height: 20px;
}

.modalsContainer .modalContent .modalHeader .modalTitle {
  float: left;
  color: white;
  font-size: 22px;
}

.modalsContainer .modalContent .modalHeader .close {
  float: right;
  color: #959595;
}

.modalsContainer .modalContent .modalHeader .close:hover {
  color: #19d39f;
}

.modalsContainer .modalContent .modalBody {
  padding: 0px 25px 30px 25px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: rgba(38, 38, 38, 0.9);
}

.modalsContainer .modalContent .modalBody .formGroup {
  margin-top: 15px;
}

.modalsContainer .modalContent .modalBody .formGroup label {
  float: left;
  margin-bottom: 5px;
  color: white;
}

.modalsContainer .modalContent .modalBody .formGroup input {
  width: 92%;
  padding: 10px;
  font-size: 15px;
}

.modalsContainer .modalContent .modalBody .formGroup input:focus {
  outline: none;
  background-color: #ab8fb2;
}

.modalsContainer .modalContent .modalFooter {
  padding: 20px 27px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modalsContainer .modalContent .modalFooter .cancelBtn {
  padding: 10px 30px;
  margin-left: 18px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #868686;
}

.modalsContainer .modalContent .modalFooter .cancelBtn:focus {
  outline: 0;
}

.modalsContainer .modalContent .modalFooter .cancelBtn:hover {
  background-color: #683675;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.modalsContainer .modalContent .modalFooter .addBtn {
  padding: 10px 30px;
  margin-left: 18px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #1C9886;
}

.modalsContainer .modalContent .modalFooter .addBtn:focus {
  outline: 0;
}

.modalsContainer .modalContent .modalFooter .addBtn:hover {
  background-color: #683675;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  letter-spacing: 1px;
}

.modalsContainer .delete-container {
  width: 420px;
  height: 300px;
  background-color: black;
  color: white;
  border-radius: 4px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modalsContainer .delete-container .delete-top {
  border-bottom: 1px solid #19d39f;
  padding: 22px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modalsContainer .delete-container .delete-top .modal-title {
  float: left;
  font-size: 22px;
}

.modalsContainer .delete-container .delete-top .close {
  color: #683675;
  cursor: pointer;
}

.modalsContainer .delete-container .delete-subtitles {
  padding: 30px 0px;
}

.modalsContainer .delete-container .deleteSubtitle {
  font-size: 14px;
  padding-bottom: 30px;
  border-bottom: 1px solid #19d39f;
}

.modalsContainer .delete-container .delete-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 30px 40px 30px 40px;
}

.modalsContainer .delete-container .delete-footer .cancel {
  padding: 10px 30px;
  margin-left: 18px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #f0f0f0;
  color: black;
  margin: 0px;
}

.modalsContainer .delete-container .delete-footer .cancel:focus {
  outline: 0;
}

.modalsContainer .delete-container .delete-footer .cancel:hover {
  background-color: #959595;
}

.modalsContainer .delete-container .delete-footer .delete {
  padding: 10px 30px;
  margin-left: 18px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #683675;
  color: black;
  margin: 0px;
}

.modalsContainer .delete-container .delete-footer .delete:focus {
  outline: 0;
}

.modalsContainer .delete-container .delete-footer .delete:hover {
  background-color: #ff3232;
}
/*# sourceMappingURL=modal.css.map */