@import 'modal.scss';

$mobile: 420px;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
};

body{
    font-family: 'Varela Round', sans-serif;
    background-image: url('../images/universe.jpg');
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    background-color: #F0F0F0;
    margin-top: 5%;
    margin-bottom: 50px;
    width: 85%;
    @media only screen and (max-width: $mobile) {
        width: 95%;
    }
    header{
        width: 100%;
        .titleWraper{
            background: linear-gradient(to right, #582066, #00CF95);
            height: 70px;
            display: flex;
            text-align: center;
            align-items: center;
            padding: 0px 40px;
            @media only screen and (max-width: $mobile){
                padding: 0px 20px;
            }
            .titleDiv{
                width: 80%;
                @media only screen and (max-width: $mobile) {
                    align-items: flex-end;
                    text-align: left;
                }
                .title{
                    float: left;
                    font-size: 28px;
                    color: white;
                    text-shadow: 3px 3px 5px #000000;
                    word-spacing: 4px;
                    @media only screen and (max-width: $mobile) {
                        font-size: 20px;
                    }
                }
            }
            .addEmployee{
                width: 50%;
                display: flex;
                justify-content: flex-end;
                @media only screen and (max-width: $mobile) {
                    width: 40%;
                }
                .addEmployeeBtn{
                    float: right;
                    background: black;
                    padding: 8px 15px;
                    border-radius: 4px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    text-decoration: none;
                    align-items: center;
                    @media only screen and (max-width: $mobile) {
                        padding: 8px 10px;
                    }
                    span{
                        @media only screen and (max-width: $mobile) {
                            font-size: 13px;
                        }
                    }
                    .plusIcon{
                        margin-right: 10px;
                        width: 22px;
                        @media only screen and (max-width: $mobile) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    &:hover{
                        background-color: #47416F;
                    }
                    @media only screen and (max-width: $mobile) {

                    }
                }
            }
        }
    }
}

.inputDiv{
    form{
        margin-top: 35px;
        margin-right: 30px;
        @media only screen and (max-width: $mobile) {
            margin-top: 25px;
        }
        .filterInput{
            float: right;
            width: 12%;
            font-size: 15px;
            padding: 10px 15px;
            transition: width 0.5s ease-in-out;
            &:focus{
                outline: none;
                width: 40%
            }
        }
    }
}

.tableContainer{
    margin-top: 12%;
    margin-bottom: 5%;
    padding-left: 25px;
    padding-right: 25px;
    overflow-x: auto;
    @media only screen and (max-width: $mobile) {
        margin-top: 115px;
        width: 90%;
        padding: 0px 15px;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        thead{
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px solid #c6c3bd;
            th{
                padding-bottom: 10px;
                padding-right: 20px;
                text-align: left;
            }
        }
        th:first-child{
            width: 60px;
            text-align: center;
        }
        th:last-child{
            width: 70px;
        }
        tbody{
            font-size: 14px;
            &:hover{
                background-color: #d6d6d6;
            }
            td{
                padding: 15px 20px 15px 0px;
                border-bottom: 1px solid #c6c3bd;
                text-align: left;
                &:first-child{
                    width: 60px;
                }
                &:last-child{
                    width: 70px;
                    padding: 15px 0px;
                }
                .tableIcons{
                    width: 20px;
                    padding: 0px 5px;
                }
            }
        }
    }
}

.errorContainer{
    background-color: #F0F0F0;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .errorMsgDiv{
        width: 50%;
        margin-left: 30px;
    }
}